**/build/
**/build-*/

# Release: lista privata dei plugin e pacchetti generati
release.conf
dist/
**/build-**/
**/bin/
**/hv/
**/ir/
**/plugin/
**/c/
**/Makefile

src/**/README.md

.DS_Store
**/.DS_Store 

**/venv/