[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "dpf-widgets"]
	path = dpf-widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
[submodule "examples/wstd-3q"]
	path = examples/wstd-3q
	url = https://github.com/Wasted-Audio/wstd-3q.git
[submodule "dep/heavylib"]
	path = dep/heavylib
	url = https://github.com/Wasted-Audio/heavylib.git
[submodule "dep/hvcc"]
	path = dep/hvcc
	url = https://github.com/Wasted-Audio/hvcc.git
