[submodule "examples/wstd-3q"]
	path = examples/wstd-3q
	url = https://github.com/Wasted-Audio/wstd-3q.git
[submodule "dep/hvcc"]
	path = dep/hvcc
	url = https://github.com/Wasted-Audio/hvcc.git
[submodule "dep/dpf"]
	path = dep/DPF
	url = https://github.com/DISTRHO/DPF.git
[submodule "dep/dpf-widgets"]
	path = dep/DPF-Widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
[submodule "dep/heavylib"]
	path = dep/heavylib
	url = https://github.com/Wasted-Audio/heavylib.git
